//font
$font-roboto: 'Roboro', sans-serif;
$font-interl: 'Inter', sans-serif;

//color
$color-primary: #45a173;
$color-button-text: #ffffff;
$color-dark: #000000;
$color-error: #c11668;
$color-yellow: #f9ba1a;
$color-text-primary: #1e1e1e;
$color-background: #f3f3f3;
$color-input-search: #d9d9d9;
$color-text-secondary: #777777;
$color-inactive: #cdcdcd;

//width
$content-width: 1440px;
$tablet-width: 768px;
$mobile-width: 390px;
