.form__back {
  width: 153px;
  position: relative;
  left: -228px;
  margin-bottom: 10px;
  a {
    text-decoration: none;
    color: black;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 52px 7px 43px;
    background-color: #f3f3f3;
    border: 5px solid black;
    border-radius: 0px 30px 30px 0px;
  }
  &:hover {
    transform: scale(1.05);
  }
}
.reg__stripe {
  position: relative;
  top: -15px;
  height: 350px;
  background-color: black;
  border-radius: 6px;
  width: 8px;
  align-self: flex-start;
}
.reg__text {
  color: #777777;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-self: center;
}
.reg__validmsg {
  color: #c11668;
  font-size: 14px;
  width: 382px;
  height: 100px;
  font-style: italic;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-self: center;
  opacity: 1;
  transition: opacity 0.3s;
  &.hidden {
    opacity: 0;
  }
}
.login__btn:hover {
  transform: scale(1.05);
}

//TODO style for mobile
@media (max-width: 470px) {
  .login__stripe {
    display: none;
  }
}
