@use '../../../../style/abstracts/constants' as vars;

.nav-categories {
  @media (max-width: vars.$bp-down-md) {
    display: none;
  }

  @media (min-width: vars.$bp-up-md) {
    padding: 1rem 0;
    background-color: var(--color-white);
    color: var(--color-text-primary);
    box-shadow: var(--shadow-primary);
    overflow: hidden;
  }
}

.nav-categories__wrapper {
  display: flex;
  align-items: center;
}

// TODO: handle desktop overflow
.nav-categories__list {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
}

.app-logo {
  display: inline-block;
  width: 140px;
  height: 56px;
  flex-shrink: 0;
  background-image: url('../../../../assets/images/app_logo.png');
}
