:where(.btn) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 2px solid transparent;
  appearance: none;
  box-shadow: var(--shadow-primary);
  transition: box-shadow 0.1s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: var(--shadow-hover);
    text-decoration: underline;
  }

  &:disabled {
    cursor: default;
  }
}

.btn--variant {
  &--contained {
    border-radius: var(--br-primary);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--secondary-color);

    &:disabled {
      background-color: var(--color-inactive);
      border-color: var(--color-inactive);
    }
  }

  &--outlined {
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    border-radius: 1.25rem;

    &:disabled {
      background-color: var(--color-inactive);
      border-color: var(--color-inactive);
    }
  }
}

.btn--size {
  &--medium {
    padding: 0.625rem 2rem;

    .btn__text {
      font-size: 1rem;
    }
  }

  &--small {
    padding: 0.5rem 1rem;

    .btn__text {
      font-size: 0.875rem;
    }
  }
}

.btn--full-width {
  width: 100%;
}

.btn--icon-only {
  padding: 0.625rem;
}

.btn--color {
  &--primary {
    --primary-color: var(--color-primary);
    --secondary-color: var(--color-white);
  }
}

.btn__text {
  font-family: var(--ff-roboto);
  font-weight: 500;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

:where(.btn__icon) {
  width: 1.25rem;
  height: 1.25rem;
}

.disabled {
  background-color: #777777;
  border: 2px solid #777777;
}
