@use '../../style/abstracts/constants' as vars;

.product-card {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  box-sizing: border-box;
  height: 100%;
  padding: 1.25rem;
  border-radius: var(--br-primary);
  background-color: var(--color-white);
  box-shadow: var(--shadow-primary);
}

.product-card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-card__text-content {
  flex-grow: 1;
  margin-bottom: 2rem;
}

.product-card__subtitle {
  font-size: 0.875rem;
  margin-bottom: 0.625rem;
}

.product-card__title {
  margin: 0;
  margin-bottom: 0.625rem;
}

.product-card__price {
  display: inline-block;
  font-weight: 500;
  border-radius: 1.25rem;
  border: 1px solid var(--color-text-secondary);
}

.product-card__price--type {
  &--default,
  &--discounted {
    padding: 0.5rem 0.75rem;
    font-size: 1.125rem;
  }

  &--normal {
    padding: 0.25rem 0.5rem;
    margin-left: 0.5rem;
    text-decoration: line-through;
    color: var(--color-text-secondary);
    border-color: var(--color-text-secondary);
  }

  &--discounted {
    border-color: var(--color-primary);
  }
}

.product-card__image {
  max-width: 110px;
  min-width: 1.5rem;
  width: 100%;
  object-fit: contain;
  object-position: top;
}

.product-card__actions {
  display: flex;
  gap: 0.5rem;
}

.product-card__btn {
  @media (max-width: vars.$bp-down-sm) {
    width: 100%;
  }
}
